.DS_Store
LICENSE
README.md

test

.dockerignore

.git
.gitkeep
.gitignore

node_modules
.next/cache
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.config/yarn/global/node_modules

pids
*.pid
*.seed

# Us specifically
npm-debug.log
.env.local